.contact {
}

.inner {
	margin: 60px auto 0;
	width: 96%;
	font-size: 20px;
	font-weight: bold;
}

.contact-title {
	text-align: center;
	line-height: 1;
}

.contact-form {
	margin: 40px auto 0;
}

.contact-form-list {
	max-width: 700px;
	margin: auto;
}

.contact-form-item {
	display: flex;
	flex-direction: column;
}

input[name="name"],
input[name="email"],
textarea[name="comment"] {
	padding: 5px 15px;
	border-radius: 5px;
	border: none;
	background: #ddf0ff;
}

textarea[name="comment"] {
	height: 200px;
}

.button-wrap {
	display: flex;
	justify-content: center;
}

.submit {
	width: 200px;
	background-color: #ddf0ff;
	border-radius: 9999px;
	border: none;
}

li + li {
	margin-top: 15px;
}

.status-wrap {
	width: 100%;
	justify-content: center;
	display: none;
	position: relative;
	top: -90px;
}

#modal {
	padding: 30px;
	background-color: silver;
}

#modal .status {
	text-align: center;
}

#result {
	width: 100%;
	justify-content: center;
	display: none;
}
